<div class = 'top content'>
  <img src = "style/img/top-blank.png" />
</div>

<div class = 'menu'>
  <div class = 'logo'>
      <div class = "section" data-ng-click="redirect()">
        <div class = "text">
          <h1>SR</h1>
          <p>Stefan Redfield</p>
        </div>
      </div>
  </div>

  <nav>
      <div class = "section" data-ng-click="redirect({destination: 'experience'})">
          <h1>EX</h1>
          <p>Exper ience</p>
      </div>
      <div class = "section" data-ng-click="redirect({destination: 'projects'})">
          <h1>PP</h1>
          <p>Personal Projects</p>
      </div>
      <div class = "section" data-ng-click="redirect({destination: 'me'})">
          <h1>AM</h1>
          <p>About Me</p>
      </div>
      <div class = "section" data-ng-click="redirect({destination: 'contact'})">
          <h1>C</h1>
          <p>Contact Me</p>
      </div>
  </nav>
</div>
