<div class = 'top content'>
  <img src = "img/top-blank.png" />
</div>

<div class = 'menu'>
  <div class = 'logo'>
    <a href="index.html">
      <div class = "section">
        <div class = "text">
          <h1>SR</h1>
          <p>Stefan Redfield</p>
        </div>
      </div>
    </a>
  </div>

  <nav>
    <div class = "sections">
      <a href = "experience.html"><div class = "section">
        <div class = "text">
          <h1>EX</h1>
          <p>Exper ience</p>
        </div>
      </div></a>
      <a href="projects.html"><div class = "section">
        <div class = "text">
          <h1>PP</h1>
          <p>Personal Projects</p>
        </div>
      </div></a>
      <a href="me.html"><div class = "section">
        <div class = "text">
          <h1>AM</h1>
          <p>About Me</p>
        </div>
      </div></a>
      <a href = "contact.html"><div class = "section">
        <div class = "text">
          <h1>C</h1>
          <p>Contact</p>
        </div>
      </div></a>
    </div>
  </nav>
</div>
