
.content {
	width: 100%;
	float: left;
}

h1.index-head {
	display: none;
	margin-top: -12%;
	width: 15%;
	margin-left: 25%;
	z-index: 10;
	float: left;
	width: 60%;
	font-weight: 500;
}

h1.index-head:hover {
	color: #993333;
	cursor: pointer;
}

.sections {
/*	padding-top: 350px;*/
	padding-top: 15%;
	margin-left: 10.25%;
	margin-right: 10.25%;
	padding-bottom: 100px;
	float: left;
	width: 85%;

}

.section {
	width: 45%;
	display: inline-block;
	border: 2vw solid tomato;
	border-left: 2vw solid red;
	border-top: 2vw solid red;
	text-align: center;
	color: tomato;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	float: left;

}

.section .text {
	padding: 29% 0;
}

	.section:hover {
		background: #FFFF66;
		color: #993333;
		border: 2vw solid red;
		border-left: 2vw solid tomato;
		border-top: 2vw solid tomato;
		cursor: pointer;

	}

	.section:hover > .text h1 {
		color: #ecfdfa;
	}

.section h1 {
	font-size: 13vw;
}

.section p {
	font-size: 3.25vw;
}

@media (min-width: 500px) {

	h1.index-head {
		display: inline
	}

	.sections {
		padding-top: 8%;
		padding-bottom: 0;
		width: 35%;
		margin-left: 32.5%;
		margin-right: 32.5%;
	}

	.section {
		border: 1vw solid tomato;
		border-left: 1vw solid red;
		border-top: 1vw solid red;
	}

		.section:hover {
			border: 1vw solid red;
			border-left: 1vw solid tomato;
			border-top: 1vw solid tomato;
		}

	.section h1 {
		font-size: 5vw;
	}

	.section p {
		font-size: 1.25vw;
	}

}
