<div data-ng-controller="MainController" class="container">
  <div class = 'top'>
    <img data-ng-if="!menuClicked" src = "style/img/top-grey.png" />
  </div>
  <div class = 'menu'>
    <div class = 'logo home'>
        <div class = "section">
          <div class = "text">
            <h1>SR</h1>
            <p>Stefan Redfield</p>
          </div>
        </div>
    </div>
  </div>

  <div class = 'content'>

    <h1 class="index-head" data-ng-if ="!menuClicked" data-ng-click="menuOn()">learn the details</h1>

    <div data-ng-if="menuClicked" class="sections fade">
      <div class = "section" data-ng-click = "redirect('experience')">
        <div class = "text">
          <h1>EX</h1>
          <p>Experience</p>
        </div>
      </div>

     <div class = "section" data-ng-click = "redirect('projects')">
        <div class = "text">
          <h1>PP</h1>
          <p>Personal Projects</p>
        </div>
      </div>

      <div class = "section" data-ng-click = "redirect('me')">
        <div class = "text">
          <h1>AM</h1>
          <p>About Me</p>
        </div>
      </div>

      <div class = "section" data-ng-click = "redirect('contact')">
        <div class = "text">
          <h1>C</h1>
          <p>Contact</p>
        </div>
      </div>
    </div>
  </div>
</div>
