<div data-ng-controller="MainController" class="container">
	<section data-nav-head data-redirect="redirect(destination)"></section>
	<div class = 'content'>
		<div class = 'about-main'>
			<h1>
				Hello,
			</h1>
			<p>
				My name is Stefan Redfield, and I am Web Developer living in Seattle.
			</p>
			<p>
				Majoring in Rhetoric and Media studies at Willamette University, I began my post collegiate journey as a marketer/advertisor and was fortunate to land a position as a large scale Media Buyer for a fast growing web startup, <a href='http://www.thecontrolgroup.com' target = 'blank'>The Control Group</a>, in San Diego. It was there where I received my first exposure to code and high level web development. The potential in developing web applications seemed enourmous to me, and I was fascinated.
			</p>
			<p>
				Upon my move to Seattle I dedicated myself to growing my coding skills. I come from a creative background, and grew my skills with Adobe Photoshop and graphic design into working with HTML, CSS, and jQuery to develop sites that were mobile responsive and user centric.
			</p>
			<p>
				Wanting to advance my development level, I attended Code Fellows in April 2015 to recieve a certificate in Full-Stack JavaScript Development.  We expanded our understanding of the fundamentals by building applications following the best practices of Functional and Object Oriented programming and learned to develop using cutting edge Backend and Client Facing technologies such as Node.js, MongoDB, Express, Angular and React.
			</p>
			<p>
				Learning these technologies has opened up a new world to me, and I am more than excited to continue exploring it. I am looking for opportunities to sink my teeth into, and cant wait to develop more cutting edge applications.
				If you would like to see the projects I am currently working on please visit my <a data-ng-click="redirect('projects')">projects page</a> or view my github at <a href="http://www.github.com/redfieldstefan">www.github.com/redfieldstefan</a>.
			</p>
		</div>
		<div class = 'about-list'>
			<h3>Skills</h3>
			<ul>
				<li>JavaScript</li>
				<li>AngularJS</li>
				<li>React</li>
				<li>jQuery</li>
				<li>Node</li>
				<li>Express</li>
				<li>RESTful API</li>
				<li>MongoDB</li>
				<li>PostgreSQL</li>
				<li>JSON</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>SASS</li>
				<li>Grunt</li>
				<li>Mocha/Chai Unit Testing</li>
				<li>Agile Development</li>
				<li>Mobile Responsive Layouts</li>
				<li>A/B Split Testing</li>
				<li>Adobe Photoshop</li>
				<li>Photography</li>
				<li>Google Adwords</li>
				<li>Media Buying</li>
			</ul>
		</div>

	</div><!--END CONTENT-->
</div><!--END CONTAINER-->
