<div data-ng-controller="MainController" class="container">
	<section data-nav-head data-redirect="redirect(destination)"></section>
	<div class = 'content'>
		<div class = 'about-main'>
			<h1>
				Hello,
			</h1>
			<p>
				My name is Stefan Redfield, and I am Junior Web Developer living in Seattle.
			</p>
			<p>
				Majoring in Rhetoric and Media studies at Willamette University, I began my post collegiate journey as a marketer/advertisor and was fortunate to land a position as a large scale Media Buyer for a fast growing web startup, <a href='http://www.thecontrolgroup.com' target = 'blank'>The Control Group</a>, in San Diego. It was there where I received my first exposure to code and high level web development. The potential in developing web applications seemed enourmous to me, and I was fascinated.
			</p>
			<p>
				With my move to Seattle I have dedicated myself to growing my coding skills. I come from a creative background, and have grown my skills with Adobe Photoshop and graphic design into working with HTML, CSS, and using jQuery, Backbone, Node, and JavaScript to develop web applications. I have worked on several small scale web projects and am always looking for more ways to grow my abilities and experience.
			</p>
			<p>
				If you would like to see some examples of my projects and code please visit <a href='http://www.newportkidsport.com' target = 'blank'>www.newportkidsport.com</a>, <a href='http://www.studioredfield.com' target = 'blank'> www.studioredfield.com</a>, or <a href='http://www.seedtotablesisters.org' target = 'blank'>www.seedtotablesisters.org</a>.
			</p>
		</div>
		<div class = 'about-list'>
			<h3>Skills</h3>
			<ul>
				<li>JavaScript</li>
				<li>AngularJS</li>
				<li>React</li>
				<li>jQuery</li>
				<li>Node</li>
				<li>Express</li>
				<li>RESTful API</li>
				<li>MongoDB</li>
				<li>PostgreSQL</li>
				<li>JSON</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>SASS</li>
				<li>Grunt</li>
				<li>Mocha/Chai Unit Testing</li>
				<li>Agile Development</li>
				<li>Mobile Responsive Layouts</li>
				<li>A/B Split Testing</li>
				<li>Adobe Photoshop</li>
				<li>Photography</li>
				<li>Google Adwords</li>
				<li>Media Buying</li>
			</ul>
		</div>

	</div><!--END CONTENT-->
</div><!--END CONTAINER-->
