<div data-ng-controller="MainController"class="container">
	<div class = 'content'>
		<div class = 'head white'>
			<h1>Professional Experience</h1>
		</div>
		<div class = "experience-panels">
				<div class = "panel">
					<div class = "header">
						<h1>NKS</h1>
						<h3>Newport Kidsport</h3>
						<p>Newport Kidsport was founded with the mission of creating high quality childrens clothing designed for being in the outdoors.
						</p>
						<p><a href ='http://www.newportkidsport.com' target = 'blank'>www.newportkidsport.com</a></p>
					</div>
						<div class="list">
						<h3>Skills</h3>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>Responsive Layouts</li>
							<li>jQuery</li>
							<li>Photography</li>
							<li>Photoshop</li>
							<li>Facebook Ads</li>
						</ul>
					</div>
					<div class ='text'>
						<h3>Web Developer</h3>
						<p>
							As Newport Kidsport gears up for its re-launch, I have designed and developed their website, www.newportkidsport.com, and helped them generate the materials needed to grow an online presence. For this project I worked mainly with HTML, CSS, and jQuery. The site is responsive and ready to be viewed on any device. I have also been in charged of photography and for designing creatives in Adobe Photoshop for Newport Kidsport's social media outlets.
						</p>
					</div>
				</div>

				<div class = "line-break">
					<img src = "img/line-break.png" />
				</div>

				<div class = "panel">
					<div class = "header">
						<h1>SR</h1>
						<h3>Studio Redfield</h3>
						<p>Studio Redfield is a fine art gallery located in Sisters Oregon. With a focus on handcrafted ceramics, Studio Redfield also features watercolor landscapes, illustrations, home-forged cultery, furniture, jewelry, and assorted crafts made by artists from Central Oregon </p>
						<p><a href ='http://www.studioredfield.com' target = 'blank'>www.studioredfield.com</a></p>
					</div>
						<div class="list">
						<h3>Skills</h3>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>Responsive Layouts</li>
							<li>jQuery</li>
							<li>Photography</li>
							<li>Photoshop</li>
						</ul>
					</div>
					<div class ='text'>
						<h3>Web Developer</h3>
						<p>
							To improve allow users to view Studio Redfield's goods online I designed and developed www.studioredfield.com and helped to design marketing collateral for social media advertising. For this project I worked with HTML, CSS, and jQuery and created it with a responsive layout that is ready to be viewed on any device.
						</p>
					</div>
				</div>

				<div class = "line-break">
					<img src = "img/line-break.png" />
				</div>

				<div class = "panel">
					<div class = "header">
						<h1>S2T</h1>
						<h3>Seed To Table Sisters</h3>
						<p>Seed to Table Sisters is a community farming organization in Sisters Oregon. With a mission to teach students in the local schools how to create and run a producing garden, they also provide education on nutrition for the local community and distribute CSA boxes with home grown vegetables.</p>
						<p><a href ='http://www.seedtotablesisters.org' target = 'blank'>www.seedtotablesisters.org</a></p>
					</div>
					<div class="list">
						<h3>Skills</h3>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>jQuery</li>
						</ul>
					</div>
					<div class ='text'>
						<h3>Web Developer</h3>
						<p>
							With the goal of spreading awareness of the program, and providing infromation for potential sponsors, I designed and developed www.seedtotablesisters.org. For this project I worked with HTML, CSS, and jQuery.
						</p>
					</div>
				</div>
		</div>
	</div>

</div><!--END CONTAINER-->
